<!--ベーステンプレートを適用する-->
{% extends 'base.html' %}
<!--ヘッダー情報のページタイトルを設定する-->
{% block title %}Sign up{% endblock %}

    {% block contents %}
    <!--Bootstrapのグリッドシステム-->
    <hr>
    <div class="container">
        <!--行を配置-->
        <div class="row">
            <div class="col offset-2">
                <h3>サインアップ</h3>
                <!--サインアップのフォームを配置-->
                <form method="post">
                    {% csrf_token %}
                    <!--formからフィールドを取り出す-->
                    {% for field in form %}
                    <p>
                        <!--ラベルを出力-->
                        {{ field.label_tag }}
                        <!-- <input>タグを出力 -->
                        {{ field }}
                        <!-- help_textを出力 -->
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        <!-- エラー発生時のテキストerrorsを出力 -->
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <p style="color: red">
                        ※メールアドレスはパスワードをリセットする際に必要になりますので、登録をお願いします。
                    </p>
                    <!-- Sign upボタンを出力 -->
                    <input type="submit" value="Sign up">
                </form>
                <!-- トップページのリンクテキスト -->
                <br>
                <p><a href="{% url 'photo:index' %}">
                    登録をやめてトップページに戻る</a>
                </p>
            </div>
        </div>
    </div>
    {% endblock %}